<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Online</h3>
        <span data-toggle="tooltip" title="" class="badge bg-light-blue count"
            data-original-title="5 Users" id="countUserOnline">5</span>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                    class="fa fa-minus"></i>
            </button>
        </div>
        <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body" id="boxUserOnline">
        <div class="user">
            <div class="col-md-8 user-avatar">
                <img class="contacts-list-img" src="chat/img/user1-128x128.jpg" alt="User Image">
                <h5>Alexander Pierce</h5>
            </div>
            <div class="col-md-4"><button type="button" class="btn btn-block btn-primary btn-sm btn-w">Add
                    friend</button></div>
        </div>
        <div class="user">
            <div class="col-md-8 user-avatar">
                <img class="contacts-list-img" src="chat/img/user3-128x128.jpg" alt="User Image">
                <h5>Sarah Bullock</h5>
            </div>
            <div class="col-md-4"><button type="button" class="btn btn-block btn-primary btn-sm btn-w">Add
                    friend</button></div>
        </div>
        <div class="user">
            <div class="col-md-8 user-avatar">
                <img class="contacts-list-img" src="chat/img/user4-128x128.jpg" alt="User Image">
                <h5>Tennille Lown</h5>
            </div>
            <div class="col-md-4"><button type="button" class="btn btn-block btn-primary btn-sm btn-w">Add
                    friend</button></div>
        </div>
        <div class="user">
            <div class="col-md-8 user-avatar">
                <img class="contacts-list-img" src="chat/img/user5-128x128.jpg" alt="User Image">
                <h5>Crystle Bethke</h5>
            </div>
            <div class="col-md-4"><button type="button" class="btn btn-block btn-primary btn-sm btn-w">Add
                    friend</button></div>
        </div>
        <div class="user">
            <div class="col-md-8 user-avatar">
                <img class="contacts-list-img" src="chat/img/user6-128x128.jpg" alt="User Image">
                <h5>Shakira Arthur</h5>
            </div>
            <div class="col-md-4"><button type="button"
                    class="btn btn-block btn-default btn-sm btn-w">Remove</button></div>
        </div>
    </div>
    <!-- /.box-body -->
</div>