<% include ./../../helper/show-chat %>
<div class="box box-primary direct-chat direct-chat-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Direct Chat</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body" id="boxBody">
        <!-- Conversations are loaded here -->
        <div class="direct-chat-messages" id="divBoxChat">
            <%= showChat(listChat, user.username) %>
        </div>
        <!--/.direct-chat-messages-->
    
    </div>
      
    <!-- /.box-body -->
    <div class="box-footer">
        
        <form action="#" method="post" id="formBoxChat">
            <div class="input-group">
                <input type="text" name="message" placeholder="Type Message ..." class="form-control" id='txtMSG'>
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary btn-flat">Send</button>
                </span>
            </div>
        </form>
    </div>
    <!-- /.box-footer-->
</div>

