
<% filterStatusHelper = (filterStatus, textSearch, collection) => {
    var xhtml = "";
    filterStatus.forEach(function(value, index) {
        if(textSearch){
            xhtml += `<a class="btn m-b-sm btn-${value.class} btn-sm" href="${systemConfig.prefixAdmin}/${collection}/${value.value}?search=${textSearch}">
                    ${value.name} (${value.count})
                  </a> `;
        }else {
            xhtml += `<a class="btn m-b-sm btn-${value.class} btn-sm" href="${systemConfig.prefixAdmin}/${collection}/${value.value}">
                    ${value.name} (${value.count})
                  </a> `;
        }
        
    });
    return xhtml;
}%>




